Run Default
{
    CircuitPath {{ CIRCUIT_PATH }}
    nrnPath {{ NRN_PATH }}
    MorphologyPath {{ MORPH_PATH }}
{%- if ME_TYPE_PATH is defined %}
    METypePath {{ ME_TYPE_PATH }}
{%- endif %}
{%- if ME_COMBO_INFO_PATH is defined %}
    MEComboInfoFile {{ ME_COMBO_INFO_PATH }}
{%- endif %}
    CellLibraryFile {{ CELL_LIBRARY_FILE }}
    BioName {{ BIONAME }}
    Atlas {{ ATLAS }}
}
