Run Default
{
    CircuitPath {{ CIRCUIT_PATH }}
    nrnPath {{ NRN_PATH }}
    MorphologyPath {{ MORPH_PATH }}
{%- if MORPH_TYPE is not none %}
    MorphologyType {{ MORPH_TYPE }}
{%- endif %}
    METypePath {{ ME_TYPE_PATH }}
{%- if ME_COMBO_INFO_PATH is not none %}
    MEComboInfoFile {{ ME_COMBO_INFO_PATH }}
{%- endif %}
    CellLibraryFile {{ CELL_LIBRARY_FILE }}
    BioName {{ BIONAME }}
    Atlas {{ ATLAS }}
}
