{
  "manifest": {
    "$BASE_DIR": ".",
    "$COMPONENTS_DIR": "$BASE_DIR/components",
    "$NETWORK_NODES_DIR": "$BASE_DIR/networks/nodes",
    "$NETWORK_EDGES_DIR": "$BASE_DIR/networks/edges/{{CONNECTOME_DIR}}"
  },
  "components": {
    "morphologies_dir": "$COMPONENTS_DIR/morphologies",
    "biophysical_neuron_models_dir": "$COMPONENTS_DIR/biophysical_neuron_models"
  },
  "node_sets_file": "$BASE_DIR/{{NODESETS_FILE}}",
  "networks": {
    "nodes": [{"nodes_file": "$NETWORK_NODES_DIR/{{NODE_POPULATION_NAME}}/nodes.h5"}],
    "edges": [{"edges_file": "$NETWORK_EDGES_DIR/{{EDGE_POPULATION_NAME}}/edges.h5"}]
  }
}
