Run Default
{
    CircuitPath {{ CIRCUIT_PATH }}
    nrnPath {{ NRN_PATH }}
    MorphologyPath {{ MORPH_PATH }}
    METypePath {{ ME_TYPE_PATH }}
{%- if ME_COMBO_INFO_PATH %}
    MEComboInfoFile {{ ME_COMBO_INFO_PATH }}
    CellLibraryFile circuit.mvd3
{%- endif %}
    BioName {{ BIONAME }}
    Atlas {{ ATLAS }}
}
{%- if PROJECTIONS is defined %}
{%- for name in PROJECTIONS.split(':') %}

Projection {{ name }}
{
    Path {{ CIRCUIT_PATH }}/proj_{{ name }}
    Source proj_{{ name }}_Source
}
{%- endfor %}
{%- endif %}
